<!DOCTYPE html>
<html>
  <head>
    <title>School Partner Directory</title>
    <meta name="description" content="The School Partner Directory is a platform that showcases the diverse range of partnerships available to our school." />
    <link rel="shortcut icon" type="image/png" href="/media/school.png" >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .resource-description a {
        color: #0782c1;
        font-weight: 600;
        text-decoration: underline;
      }

      input[type="search"] {
        -webkit-appearance: none;
      }
    </style>
      <script>
        $(document).ready(function () {
          var jsonData;
          var originalOrder = []; // Store original order of resource boxes

          // Get JSON data to use for searching and filtering
          $.getJSON("/json/partner_list", function (request) {
            jsonData = request.data;

            // Store original order of resource boxes
            $(".resource").each(function () {
              originalOrder.push($(this).attr("id"));
            });
          });

          function updateResults() {
            // Update the results based on the search query and filters
            $(".resource").hide();
            $("#no-resource-found").hide();
            const partnerTags = $(".partner-tag-checkbox:checked")
              .map(function () {
                return $(this).val();
              })
              .get();
            const resourceTags = $(".resource-tag-checkbox:checked")
              .map(function () {
                return $(this).val();
              })
              .get();
            const searchQuery = $("#search-bar").val();

            // Filter the data based on the selected tags
            const filteredData = jsonData.filter(function (resource) {
              if (!resource.tags.some((tag) => resourceTags.includes(tag.name))) {
                return false;
              }
              if (
                !resource.partner.tags.some((tag) =>
                  partnerTags.includes(tag.name)
                )
              ) {
                return false;
              }
              return true;
            });

            // If there is no search query, show all the filtered data
            if (searchQuery === "") {
              filteredData.forEach(function (resource) {
                $("#" + "resource-" + resource.id).show();
              });
              if (filteredData.length === 0) {
                // If there are no results, show the "No resources found" message
                $("#no-resource-found").show();
              } else {
                // Restore original order
                originalOrder.forEach(function (id) {
                  $("#" + id).detach().appendTo("#resource-list");
                });
              }
            } else {
              // If there is a search query, use Fuse.js to search the filtered data
              const fuse = new Fuse(filteredData, {
                keys: [
                  "name",
                  "description",
                  "tags.name",
                  "partner.name",
                  "partner.description",
                  "partner.tags.name",
                ],
                threshold: 0.4,
                useExtendedSearch: true,
              });
              const results = fuse.search(searchQuery);
              if (results.length === 0) {
                // If there are no results, show the "No resources found" message
                $("#no-resource-found").show();
              } else {
                // If there are results, show the results, and reorder them based on the search query
                $("#no-resource-found").hide();
                results.forEach(function (result) {
                  $("#" + "resource-" + result.item.id)
                    .show()
                    .detach()
                    .appendTo("#resource-list");
                });
              }
            }
          }

          // Update the results when the search query or filters change
          $("#search-bar").on("input", updateResults);
          $(".partner-tag-checkbox").on("change", updateResults);
          $(".resource-tag-checkbox").on("change", updateResults);

          // Show/hide filter menu on mobile
          // When the "FILTERS" button is clicked, show the filter menu
          // When the "CLOSE" button is clicked, hide the filter menu
          function toggleMobileMenu() {
            if ($("#filter-menu").is(":visible")) {
              $("#filter-menu").hide();
              $("#filter-menu-mobile-button-text").text("FILTERS");
              $("#filter-menu-mobile-button-open-icon").show();
              $("#filter-menu-mobile-button-close-icon").hide();
            } else {
              $("#filter-menu").show();
              $("#filter-menu-mobile-button-text").text("CLOSE");
              $("#filter-menu-mobile-button-open-icon").hide();
              $("#filter-menu-mobile-button-close-icon").show();
            }
          }

          // When the "View Results" or "FILTER" button is clicked, toggle the filter menu
          $("#filter-menu-mobile-button").on("click", toggleMobileMenu);
          $("#view-results-mobile-button").on("click", toggleMobileMenu);

          // Clear the search query and filters when the "Clear Filters" button is clicked and update the results
          $("#clear-filters").on("click", function () {
            $(".partner-tag-checkbox").prop("checked", true);
            $(".resource-tag-checkbox").prop("checked", true);
            $("#search-bar").val("");
            updateResults();
          });
        });
      </script>
  </head>

  <body class="overflow-hidden flex flex-col items-center justify-center">
    <header class="bg-gray-100 w-full border-b flex justify-center h-16">
      <div
        class="w-full max-w-screen-2xl flex items-center justify-between py-2.5 px-5"
      >
        <h1 class="text-sm lg:text-xl font-semibold">
          School Partner Directory
        </h1>
        <a
          class="text-xs border p-2.5 bg-blue-600 hover:bg-blue-200 hover:text-blue-800 hover:border-blue-800 text-white rounded font-semibold"
          href="{% url 'partner_proposal' %}"
        >
          BECOME A PARTNER
        </a>
      </div>
    </header>

    <div
      class="grid grid-cols-12 lg:gap-5 max-w-screen-2xl w-full h-[calc(100svh-6rem)]"
    >
      <div class="col-span-12 lg:col-span-4 xl:col-span-3 lg:p-2.5">
        <div class="relative lg:p-2.5 lg:px-5 flex h-12 lg:h-16 border-b">
          <svg
            class="absolute left-2.5 lg:left-8 top-0 bottom-0 fill-gray-700"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="100%"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>

          <input
            type="search"
            id="search-bar"
            placeholder="Search for resources"
            class="w-full py-3 pr-3 pl-10 border-b lg:border lg:rounded rounded-r-none bg-white"
          />
          <button
            id="filter-menu-mobile-button"
            class="border-b border-l p-2.5 text-xs text-gray-700 flex space-x-1 items-center font-semibold lg:hidden"
          >
            <span id="filter-menu-mobile-button-text"> FILTERS </span>
            <svg
              class="w-5 h-5"
              fill="none"
              id="filter-menu-mobile-button-open-icon"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="filter-menu-mobile-button-close-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="display: none"
            >
              <line x1="18" y1="6" x2="6" y2="18" />
              <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
          </button>
        </div>
        <div
          id="filter-menu"
          class="lg:flex flex-col space-y-5 hidden fixed lg:relative top-[7rem] lg:top-0 overflow-y-auto bg-white w-full h-[calc(100svh-9rem)] lg:h-[calc(100svh-10rem)] p-2.5"
        >
          <div class="flex flex-col space-y-2.5 p-2.5 text-sm">
            <h2 class="font-semibold text-gray-700">Filter Partners</h2>
            {% for tag in partner_tags %}
            <div
              class="flex justify-between w-full border p-2.5 rounded hover:shadow"
            >
              <label
                for="partner-tag-{{tag.id}}"
                class="flex-1 select-none cursor-pointer"
                title="{{tag.description}}"
                >{{tag.name}}</label
              >
              <input
                type="checkbox"
                id="partner-tag-{{tag.id}}"
                checked
                class="partner-tag-checkbox select-none cursor-pointer"
                name="partner-tag-{{tag.id}}"
                value="{{tag.name}}"
              />
            </div>
            {% endfor %}
          </div>

          <div class="flex flex-col space-y-2.5 p-2.5 text-sm">
            <h2 class="font-semibold text-gray-700">Filter Resources</h2>
            <div class="grid grid-cols-12 gap-2.5">
              {% for tag in resource_tags %}
              <div
                class="col-span-6 flex space-x-0.5 p-2.5 justify-between w-full border rounded hover:shadow"
              >
                <label
                  for="resource-tag-{{tag.id}}"
                  class="flex-1 select-none cursor-pointer"
                  title="{{tag.description}}"
                  >{{tag.name}}</label
                >
                <input
                  type="checkbox"
                  id="resource-tag-{{tag.id}}"
                  name="resource-tag-{{tag.id}}"
                  class="resource-tag-checkbox select-none cursor-pointer"
                  value="{{tag.name}}"
                  checked
                />
              </div>
              {% endfor %}
            </div>
          </div>
          <button
            id="view-results-mobile-button"
            class="text-xs border p-2.5 bg-blue-600 text-white rounded font-semibold lg:hidden w-full"
          >
            View Results
          </button>
          <div class="py-5"></div>
        </div>
      </div>
      <div
        id="resource-list"
        class="p-2.5 overflow-y-auto col-span-12 lg:col-span-8 xl:col-span-9 h-[calc(100svh-9rem)] lg:h-[calc(100svh-6rem)] grid grid-cols-12 gap-2.5 auto-rows-max"
      >
        {% for resource in resources %}
        <section
          id="resource-{{resource.id}}"
          class="resource border shadow-sm bg-white p-5 rounded flex flex-col space-y-5 col-span-12 lg:col-span-6 xl:col-span-4 justify-between"
        >
          <div class="flex flex-col space-y-2.5">
            <h1 class="resource-name text-sm font-semibold">
              {{ resource.name }}
            </h1>
            <h2 class="resource-description text-xs text-gray-700">
              {{ resource.description | safe }}
            </h2>
            <ul class="flex flex-wrap">
              {% for tag in resource.tags %}
              <li
                class="resource-tag m-0.5 bg-blue-200 border text-blue-900 font-semibold text-xs py-1.5 px-2 rounded"
              >
                {{ tag.name }}
              </li>
              {% endfor %} {% for tag in resource.partner.tags %}
              <li
                class="partner-tag m-0.5 bg-blue-200 border text-blue-900 font-semibold text-xs py-1.5 px-2 rounded"
              >
                {{ tag.name }}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div
            class="flex flex-col space-y-5 justify-between border-t pt-5 mt-auto h-52"
          >
            <div class="flex space-x-2.5 items-center">
              {% if resource.partner.logo %}
              <img
                src="{{ resource.partner.logo }}"
                alt="{{ resource.partner.name }}"
                class="w-16 h-16 object-contain"
              />
              {% endif %}
              <div class="flex flex-col space-y-1.5">
                <h2 class="partner-name text-sm font-semibold text-gray-700">
                  {{ resource.partner.name }}
                </h2>
                <p class="partner-description text-xs">
                  {{ resource.partner.description }}
                </p>
              </div>
            </div>
            <div class="flex space-x-2.5 mt-auto mx-auto">
              <a
                href="{% if 'http://' not in resource.partner.website and 'https://' not in resource.partner.website %}http://{% endif %}{{ resource.partner.website }}"
                class="bg-gray-100 p-1.5 border rounded hover:shadow"
                title="Website"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 text-gray-700"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25"
                  />
                </svg>
              </a>
              <a
                href="mailto: {{resource.partner.contact_email}}"
                class="bg-gray-100 p-1.5 border rounded hover:shadow"
                title="Email"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 text-gray-700"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25"
                  ></path>
                </svg>
              </a>
              <a
                href="tel:{{resource.partner.contact_phone}}"
                class="bg-gray-100 p-1.5 border rounded hover:shadow flex space-x-2"
                title="Phone"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 text-gray-700"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
                  ></path>
                </svg>
                <div class="text-sm text-gray-800">
                  {{resource.partner.contact_phone}}
                </div>
              </a>
            </div>
          </div>
        </section>
        {% endfor %}

        <div
          id="no-resource-found"
          class="flex flex-col space-y-2.5 justify-center items-center p-5 col-span-12"
          style="display: none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-blue-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
            />
          </svg>

          <h1 class="text-lg text-blue-700 text-center">
            No resources found. Please try a different search query or modify
            your filters.
          </h1>
          <button
            id="clear-filters"
            class="text-xs border p-2.5 rounded font-semibold"
          >
            Clear Filters
          </button>
        </div>
      </div>
    </div>
  </body>
  <footer
    class="w-full bg-gray-100 border-t flex justify-center px-2.5 py-2 h-8 z-10"
  >
    <p class="text-xs text-gray-700">
      <a href="/terms">Terms & Conditions</a> -
      <a href="/admin/">Partner Login</a>
    </p>
  </footer>
</html>
